* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;

}

#timer {
  position: absolute;
  font-weight: 900;
  font-size: x-large;


}

h1, #feedback {
  text-align: center;
  /* margin: 25px 0px 50px; */
}
.container {
  position: relative;
  padding: 10px 20px;
  color: whitesmoke;
  font-size: 16px;
  margin-top: 40px;
  letter-spacing: 4px;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 4px;
  display: flex;
  width: 800px;
  justify-content: center;
  margin: auto;
  padding: 50px;
  position: relative;
}

.choice {
  display: block;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: left;
  margin: 10px auto;
}

button {
  display: block;
  margin: auto;
}

.hide {
  display: none;
}